@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #00070e;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    background-color: #000929;
    height: 100px;
    width: 600px;
    margin-top: 40px;
    border: 1px solid #00070e;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-box {
    background-color: #000e41;
    height: 60px;
    width: calc(20% - 20px);
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding-top: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none; 
}

.menu-box img {
    width: 30px; 
    height: 30px; 
    margin-top: 5px;
}

.menu-box img[src="svg/plugins.svg"] {
    filter: invert(100%);
}

.menu-box.active {
    background-color: #001871;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
}

#accounts-container {
    margin-top: 20px;
    width: 80%;
}

.account-info {
    background-color: #00092b;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

.account-info p {
    margin: 5px 0;
}

.account-info span {
    font-weight: 700;
}

.iframe-container {
    position: relative;
    width: 90%; 
    height: 600px; 
    margin-bottom: 20px;
}

.iframe-container iframe {
    width: 1000px;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.iframe-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #001871;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container {
    width: 90%; 
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.input-container input {
    width: 80%; 
    height: 60px; 
    padding: 10px;
    border: 1px solid #000e41;
    border-radius: 5px;
    font-size: 16px;
    background-color: #00092b; 
    color: white; 
}

.execute-button {
    width: 20%; 
    height: 60px; 
    margin-left: 10px;
    padding: 10px;
    background-color: #001871;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700; 
    cursor: pointer;
}

.game-box {
    background-color: #00092b;
    color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.game-box h2 {
    margin-top: 0;
}

.game-box button {
    background-color: #001871;
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.game-box button:hover {
    background-color: #dddddd;
    color: #001871; 
}

.account-box {
    background-color: #00092b;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#bloxfruit-data-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.summary-bar {
    display: flex;
    justify-content: space-around;
    background-color: #001871;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.summary-box {
    background-color: #00092b;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
}


.plugin-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.plugin-box h2 {
    margin: 0 0 10px 0;
}

.plugin-box button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.plugin-box button:hover {
    background-color: #0056b3;
}